<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User name:</strong>
    <%= user.user_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User nid:</strong>
    <%= user.user_nid %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User mobile:</strong>
    <%= user.user_mobile %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User photo:</strong>
    <%= user.user_photo %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this user", edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
